This browser extension can immersively convert the currency to your local currency simply by selecting the text in the webpage.

-  Detect & convert currency by selecting text
-  Display multiple results in one screen
-  Estimate value based on items
-  Customize OpenExchange key
